html,body{
    background: #f8f8f8;
}
.img-top{
    padding: 1rem;
    background-color: #FB4C3D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}
.img-top .back{
    flex: 0 0 40px;
}
.img-top .back i{
    font-size: 1.8rem;
    color: #fff;
}
.img-top .title{
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
.img-top .right{
    flex: 0 0 40px;
}
.img-top .right span{
    font-size: 1.4rem;
    color: #fff;
}
.top-tou{
    margin-top: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: #fff;
}
.top-tou img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}
.top-tou p{
    margin: 0;
    font-size: 1.4rem;
    color: #666;
}

.p-content{
    margin-top: 1rem;
}
.p-i{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.p-i-l{
    font-size: 1.5rem;
    color: #333;
    flex: 0 0 7rem;
}
.p-i-r{
    flex: 1;
    display: flex;
    align-items: center;
    color: #666;
}
.p-i input{
    outline: none;
    border: none;
}
.p-i input::placeholder{
    font-size: 1.3rem;
    color: #999;
}
.p-i-gray{
    color: #999;
}
.p-sex>div{
    margin-right: 1rem;
}
.p-sex .am-icon-check-circle-o{
    color: #F84E44;
}
.p-i-j{

    justify-content: space-between;
}

.picker-title{
    margin-top: 0!important;
    display: none;
}
.picker .picker-panel .wheel-wrapper .wheel{
    font-size: 1.5rem !important;
}
.date_btn.lcalendar_cancel{
    color: #878787;
    font-size: 14px;
}
.date_btn.lcalendar_finish{
    color: #fa8919;
    font-size: 14px;
}